// <МЕДИАЗАПРОСЫ>-----------------------------------------------

@media (max-width: 1280px) {
    .inner-img{
        width: 450px;
    }
    .summer-btn {
        right: 250px;
    }
}
@media (max-width: 1260px) {
    .arrow-left{
        left: -5px;
    }
    .arrow-right{
        right: -5px;
    }
    .slider-stones .slick-arrow.slick-prev {
        left: 50px;
    }
    .slider-stones .slick-arrow.slick-next {
        right: 50px;
    }
}
@media (max-width: 1200px) {
    .recently{
        &__main{
            padding: 0 20px;
        }
    }
    .wrapper-all .icon-bottom {
        right: 35%;
    }
    .summer-btn {
        right: 200px;
    }
    .inner-img{
        max-width: 250px;
    }
    .header__list{
        flex-wrap: wrap;
    }
    .header__list li{
		margin: 0px 0px 25px 0px;
    }
}
@media (max-width: 1090px) {
    .slider-summer .slick-dots {
        left: 100px;
    }
    .inner-img{
        max-width: 150px;
        background-position: 30% 100%;
    }
}
@media (max-width: 1024px) {
    .wrapper-all .icon-bottom {
        right: 25%;
    }
    .summer-btn {
        right: 100px;
    }
    .df-fdc {
        padding-left: 50px;
    }
    .character{
        padding-left: 30px;
    }
}

@media (max-width: 992px) {
    .wrapper-all .icon-bottom {
        right: 23%;
    }
    .btn {
        width: 240px;
        padding: 15px 0;
    }
    .link__li {
        min-width: 185px;
    }
    .inner-img{
        background-position: 20% 100%;
        opacity: 50%;
    }
    .inner__right {
        padding-left: 25px;
    }
    .inner__title{
        padding-bottom: 40px;
    }
    .footer{
        &__item{
            flex: 0 0 calc(100%/3);
            padding-bottom: 20px;
        }
        &__bottom{
            margin: 0;
        }
    }
    .section-inner{
        padding: 30px 0 50px 0;
    }
    
}
@media (max-width: 900px) {
    .characteristics__body {
        max-width: 100%;
    }
    .wrapper-all .icon-bottom {
        right: 45%;
    }
    .section-product {
        padding-top: 45px;
    }
    .mob-title{
        padding-bottom: 20px;
    }
    .product__title{
        text-align: center;
    }
    .product{
        flex-direction: column;
        &__slice{
            flex: 0 0 100%;
        }
        .sliderbig__item {
            display: flex;
            justify-content: center;
        }
        .slider-product {
            width: 100%;
            margin: 0 auto;
        }
    }
    .character{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        padding-left: 0;
    }
    .characteristics {
        padding: 25px 0 24px 0;
        margin-bottom: 24px;
    }
    .white1 {
        margin-left: 15px;
    }
    .prise {
        padding-bottom: 0px;
    }
    .product__art{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .registration__title{
        max-width: 225px;
        padding: 20px 0 10px 0;
    }
    .registration__subtitle {
        padding-bottom: 20px;
    }
    .slider-summer .slick-dots {
        left: 50px;
    }
    .summer-btn {
        right: 50px;
    }
    .wrapper-zlata{
        display: none;
    }
    .df-fdc {
        padding-left: 0px;
    }
    .registration{
        flex-direction: column;
    }
    .registration__item {
        flex: 0 0 100%;
    }
    .registration .white-bg{
        padding-top: 30px;
        display: flex;
        justify-content: center;
    }
    .df-fdc{
        align-items: center;
    }
    .registration .wrapper-text {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 768px) {
    .bread{
        padding-bottom: 0;
    }
    .recently__top {
        padding-bottom: 31px;
    }
    .katalog__bottom {
        padding-bottom: 40px;
    }
    .katalog__item{
        margin: 0 10px 40px 10px;
    }
    .art__title {
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .fashion__main {
        padding-top: 30px;
    }
    .fashion__item {
        padding: 0 25px;
        padding-bottom: 30px;
    }
    .section-fashion {
        padding: 38px 0 15px 0;
    }
    .shop__title{
        font-size: 14px;
    }
    .select-span {
        padding-left: 15px;
    }
    .wrapper-icons img {
        width: 24px;
    }
    .header .header-input {
        padding: 0 0 10px 0;
    }
    .pc-none{
        display: flex;
    }
    .flex-top{
        display: none;
    }
    .shop__title:before {
        width: 17px;
    }
    .shop__title {
        padding-left: 25px;
    }
    .slider-summer .slick-dots {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .wrapper-summer-btn{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        display: flex;
        justify-content: center;
    }
    .new__link {
        padding: 8px 20px;
    }
    .summer-btn{
        position: static;

        width: 150px;
        padding: 10px 0;

        right: 30px;
        bottom: 15px;
    }

    .header-content-right__item .info-telephone {
        padding-left: 15px;
    }
    .wrapper-top{
        display: flex;
        justify-content: center;
    }
    .header__link:before{
        bottom: 0px;
    }
    .submenu{
        padding: 8px 0 8px 10px;
    }
    .submenu li {
        padding: 5px 0;
    }
    .inner-img{
        background-position: 5% 100%;
    }
    .header__list li:not(:last-child) {
        padding-right: 0px;
    }
    .footer-top{
        margin: 0 -10px;
        &__item{
            padding: 0 10px;
        }
    }
    .footer-zlata{
        display: none;
    }
    .footer__text {
        max-width: 300px;
    }
    .footer__icon {
        padding-top: 30px;
    }
    .header-content{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .header-content-left__item{
        padding-bottom: 40px;
    }
    .header-content-right__item{
        padding-bottom: 20px;
    }
    .header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 10000;
	}
	.header__burger span{
		background-color: #000;
		position: absolute;
		width: 30px;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after{
		content: "";
		background-color: #000;
		position: absolute;
		width: 30px;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}
	.header__burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active span{
		transform: scale(0);
	}
	.header__menu{
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #f6f6f3;
		padding: 0px 10px 0px 10px;
        transition: all 0.3s ease 0s;
        z-index: 9999;
        overflow: auto;
	}
	.header__menu.active{
		top: 0;
	}
	.header__list{
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
	}
    .wrapper-header{
        display: flex;
        flex-direction: column;
    }
    .header-content{
        order: 1;
    }
    .wrapper-burger{
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
    .header{
        padding-bottom: 0;
    }
    .slider-shop .slick-dots {
        justify-content: center;
     }
     .seventy{
         width: 70%;
     }
     .thirty{
         width: 30%;
     }
     .container2 {
         padding: 0;
     }
}


@media (max-width: 640px) {
    .wrapper-all .icon-bottom {
        right: 40%;
    }
    .recently__main{
        justify-content: center;
    }
    .summer-btn {
        padding: 5px 0;
        width: 130px;
    }
    .header-content-left__item {
        padding-bottom: 30px;
    }
    .header-content {
        padding-top: 20px;
    }
    .stones {
        padding: 34px 0 0px 0;
    }
    .slider-stones .slick-list {
        padding: 30px 0 35px 0;
    }
    .bread-crumbs {
        padding: 7px 0 7px 0;
    }
    .wrapper-mob-menu{
        display: flex;
        justify-content: center;
    }
    .mob-list{
        display: none;
    }
    .inner-img{
        display: none;
    }
    .footer{
        &__item{
            flex: 0 0 calc(100%/2);
        }
    }
    .inner{
        flex-direction: column;
        align-items: center;
        &__right {
            padding-left: 0;
        }
        &__title{
            text-align: center;
        }
        &__subtitle{
            text-align: justify;
        }
        &__text{
             text-align: justify;
        }
        &__left{
            padding-bottom: 20px;
        }
        &__li{
            padding-left: 20px;
        }
    }
    .link__li{
        text-align: center;
        padding: 15px 0;
    }
}
@media (max-width: 600px) {
    .wrapper-all .icon-bottom {
        right: 45%;
    }
    .summer-btn {
        right: 3px;
        bottom: 3px;
    }
    .slider-insta .slick-dots {
        flex-wrap: wrap;
        justify-content: center;
    }
    .slider-insta .slick-dots li {
        margin: 5px 10px;
    }
    .new__navbar{
        .slick-track{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: auto!important;
            transform: translate3d(0px, 0px, 0px)!important;
        }
        .slick-list{
            height: auto!important;
        }
        
    }
    .new{
        .new__li{
            width: auto!important;
            padding: 0px;
        }
    }
    .arrow-left{
        top: 60%;
    }
    .arrow-right{
        top: 60%;
    }
}
@media (max-width: 500px) {
    .wrapper-all .icon-bottom {
        right: 26%;
    }
}
@media (max-width: 480px) {
    .katalog__title {
        font-size: 16px;
        padding-left: 50px;
    }
    .katalog__title:before {
        width: 30px;
    }
    .characteristics__item:nth-child(2n) {
        margin-left: 50px;
    }
    
    .summer__item img {
        height: 150px;
    }
    .summer-btn {
        right: 0px;
        bottom: 0px;
    }
    .wrapper-tel{
        position: relative;
    }
    .phone{
        position: absolute;
        top: 0;
        left: 0;
    }
    .header-content-right__item .info-telephone {
        padding-left: 0px;
    }
    .footer__top{
        flex-direction: column;
        align-items: center;
    }
    .flex-end{
        justify-content: center;
    }
    .footer__icon {
        justify-content: center;
        padding: 20px 0px;
    }
    .footer__icon .icon-link:last-child {
        margin-right: 0px;
    }
    .footer__text{
        text-align: center;
    }
    .header .header-input{
        width: 250px
    }
    .header-content-right__item .wrapper-number-tel{
        flex-direction: column;
        align-items: center;
    }
    .header-content-right__item .wrapper-tel__item:not(:last-child) {
        padding-right: 0px;
    }
    .header-content-right__item .wrapper-tel__item{
        padding-bottom: 10px;
    }
    .footer__item {
        padding: 0px 24px;
    }
}
@media (max-width: 460px) {
    .wrapper-all .icon-bottom {
        right: 20%;
    }
}
@media (max-width: 440px) {
    .slider-shop .slick-dots {
        flex-wrap: wrap;
    }
    .slider-shop .slick-dots li {
        margin: 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-reg {
        width: 300px;
    }
    .footer{
        &__top{
            padding-bottom: 0;
        }
        &__item{
            flex: 0 0 calc(100%/1);
        }
        &__title{
            text-align: center;
            padding: 20px 0;
        }
        &__bottom{
            padding-bottom: 0;
        }
        &__title:before {
            left: 0%;
        }
    }
    .wrapper-list{
        display: none;
    }
    .footer-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-list-li {
        max-width: 100%;
    }
    .footer__title:before {
        width: 0px;
        height: 0px;
    }
}
@media (max-width: 430px) {
    .wrapper-all .icon-bottom {
        right: 40%;
    }
}
@media (max-width: 400px) {
    .input-reg {
        width: 260px;
    }
    .wrapper-all .icon-bottom {
        right: 30%;
    }
}

@media (max-width: 360px) {
    .wrapper-all .icon-bottom {
        right: 35%;
    }
    .header .header-input {
        width: 230px;
    }
    .header .wrapper-input {
        padding-left: 5px;
    }
}
// </МЕДИАЗАПРОСЫ>----------------------------------------------