// <МЕДИАЗАПРОСЫ>-----------------------------------------------

@media (max-width: 1280px) {
    .inner-img{
        width: 450px;
    }
    .summer-btn {
        right: 250px;
    }
}
@media (max-width: 1260px) {
    .arrow-left{
        left: -5px;
    }
    .arrow-right{
        right: -5px;
    }
    .slider-stones .slick-arrow.slick-prev {
        left: 50px;
    }
    .slider-stones .slick-arrow.slick-next {
        right: 50px;
    }
}
@media (max-width: 1200px) {
    .summer-btn {
        right: 200px;
    }
    .inner-img{
        max-width: 250px;
    }
    .header__list{
        flex-wrap: wrap;
    }
    .header__list li{
		margin: 0px 0px 25px 0px;
    }
}
@media (max-width: 1090px) {
    .slider-summer .slick-dots {
        left: 100px;
    }
    .inner-img{
        max-width: 150px;
        background-position: 30% 100%;
    }
}
@media (max-width: 1024px) {
    .summer-btn {
        right: 100px;
    }
    .df-fdc {
        padding-left: 50px;
    }
}

@media (max-width: 992px) {
    .link__li {
        min-width: 185px;
    }
    .inner-img{
        background-position: 20% 100%;
        opacity: 50%;
    }
    .inner__right {
        padding-left: 25px;
    }
    .inner__title{
        padding-bottom: 40px;
    }
    .footer{
        &__item{
            flex: 0 0 calc(100%/3);
            padding-bottom: 20px;
        }
        &__bottom{
            margin: 0;
        }
    }
    .section-inner{
        padding: 30px 0 50px 0;
    }
    
}
@media (max-width: 900px) {
    .slider-summer .slick-dots {
        left: 50px;
    }
    .summer-btn {
        right: 50px;
    }
    .wrapper-zlata{
        display: none;
    }
    .df-fdc {
        padding-left: 0px;
    }
    .registration{
        flex-direction: column;
    }
    .registration__subtitle{
        padding-bottom: 46px;
    }
    .registration__item {
        flex: 0 0 100%;
    }
    .registration .white-bg{
        padding-top: 30px;
        display: flex;
        justify-content: center;
    }
    .df-fdc{
        align-items: center;
    }
    .registration .wrapper-text {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 768px) {
    .slider-summer .slick-dots {
        bottom: 50px;
        left: 50px;
    }
    .summer-btn {
        right: 30px;
        bottom: 15px;
    }
    .header-content-right__item .info-telephone {
        padding-left: 10px;
    }
    .wrapper-top{
        display: flex;
        justify-content: center;
    }
    .header__link:before{
        bottom: 0px;
    }
    .submenu{
        padding: 8px 0;
    }
    .submenu li {
        padding: 5px 0;
    }
    .inner-img{
        background-position: 5% 100%;
    }
    .header__list li:not(:last-child) {
        padding-right: 0px;
    }
    .footer-top{
        margin: 0 -10px;
        &__item{
            padding: 0 10px;
        }
    }
    .footer-zlata{
        display: none;
    }
    .footer__text {
        max-width: 300px;
    }
    .footer__icon {
        padding-top: 30px;
    }
    .header-content{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .header-content-left__item{
        padding-bottom: 40px;
    }
    .header-content-right__item{
        padding-bottom: 30px;
    }
    body.lock{
		overflow: hidden;
    }
    .header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 5;
	}
	.header__burger span{
		background-color: #000;
		position: absolute;
		width: 30px;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after{
		content: "";
		background-color: #000;
		position: absolute;
		width: 30px;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}
	.header__burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active span{
		transform: scale(0);
	}
	.header__menu{
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #f6f6f3;
		padding: 0px 10px 0px 10px;
        transition: all 0.3s ease 0s;
        overflow: auto;
	}
	.header__menu.active{
		top: 0;
	}
	.header__list{
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        
	}
    .wrapper-header{
        display: flex;
        flex-direction: column;
    }
    .header-content{
        order: 1;
    }
    .wrapper-burger{
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
    .header{
        padding-bottom: 0;
    }
}

@media (max-width: 640px) {
    .stones {
        padding: 34px 0 0px 0;
    }
    .slider-stones .slick-list {
        padding: 30px 0 35px 0;
    }
    .bread-crumbs {
        padding: 7px 0 7px 0;
    }
    .wrapper-mob-menu{
        display: flex;
        justify-content: center;
    }
    .mob-list{
        display: none;
    }
    .inner-img{
        display: none;
    }
    .footer{
        &__item{
            flex: 0 0 calc(100%/2);
        }
    }
    .inner{
        flex-direction: column;
        align-items: center;
        &__right {
            padding-left: 0;
        }
        &__title{
            text-align: center;
        }
        &__subtitle{
            text-align: justify;
        }
        &__text{
             text-align: justify;
        }
        &__left{
            padding-bottom: 20px;
        }
        &__li{
            padding-left: 20px;
        }
    }
    .link__li{
        text-align: center;
        padding: 15px 0;
    }
}
@media (max-width: 600px) {
    .slider-summer .slick-dots {
        bottom: 40px;
        left: 30px;
    }
    .summer-btn {
        right: 3px;
        bottom: 3px;
    }
    .slider-insta .slick-dots {
        flex-wrap: wrap;
    }
    .slider-insta .slick-dots li {
        margin: 0 10px;
        margin-bottom: 10px;
    }
    .new__navbar{
        .slick-track{
            display: block;
        }
        .slick-list{
            width: 100%;
        }
    }
    .new__li{
        height: 56px;
        width: 100%;
        margin: 0 auto;
    }
    .arrow-left{
        top: 60%;
    }
    .arrow-right{
        top: 60%;
    }
}
@media (max-width: 480px) {
    .slider-summer .slick-dots {
        bottom: 30px;
        left: 20px;
    }
    .summer-btn {
        right: 0px;
        bottom: 0px;
    }
    .wrapper-tel{
        position: relative;
    }
    .phone{
        position: absolute;
        top: 0;
        left: 0;
    }
    .header-content-right__item .info-telephone {
        padding-left: 0px;
    }
    .footer__top{
        flex-direction: column;
        align-items: center;
    }
    .flex-end{
        justify-content: center;
    }
    .footer__icon {
        justify-content: center;
        padding: 20px 0px;
    }
    .footer__icon .icon-link:last-child {
        margin-right: 0px;
    }
    .footer__text{
        text-align: center;
    }
    .header .header-input{
        width: 250px
    }
    .header-content-right__item .wrapper-number-tel{
        flex-direction: column;
        align-items: center;
    }
    .header-content-right__item .wrapper-tel__item:not(:last-child) {
        padding-right: 0px;
    }
    .header-content-right__item .wrapper-tel__item{
        padding-bottom: 10px;
    }
    .footer__item {
        padding: 0px 24px;
    }
}
@media (max-width: 440px) {
    .slider-summer .slick-dots {
        bottom: 90%;
        left: 10px;
    }
    .slider-shop .slick-dots {
        flex-wrap: wrap;
    }
    .slider-shop .slick-dots li {
        margin: 0 10px;
        margin-bottom: 10px;
    }
    .input-reg {
        width: 300px;
    }
    .footer{
        &__top{
            padding-bottom: 0;
        }
        &__item{
            flex: 0 0 calc(100%/1);
        }
        &__title{
            text-align: center;
            padding: 20px 0;
        }
        &__bottom{
            padding-bottom: 0;
        }
        &__title:before {
            left: 0%;
        }
    }
    .wrapper-list{
        display: none;
    }
    .footer-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-list-li {
        max-width: 100%;
    }
    .footer__title:before {
        width: 0px;
        height: 0px;
    }
}
@media (max-width: 400px) {
    .input-reg {
        width: 260px;
    }
    .stones__top{
        flex-direction: column;
        align-items: center;
    }
    .pt{
        padding-top: 10px;
    }
}
@media (max-width: 360px) {
    .header .header-input {
        width: 230px;
    }
    .header .wrapper-input {
        padding-left: 5px;
    }
}
// </МЕДИАЗАПРОСЫ>----------------------------------------------